.topic-list {
	position: relative;
	margin: 2rem 0px 3rem;
	padding: 1rem 16px;
	height: 420px;
	list-style: none;
	overflow-y: auto;

	h3 {
		color: $gold;
		font-size: 16px;
	}
}

.title-list {
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		color: $gray;
		font-family: $font-family-base;
		font-weight: 200;
		font-size: 13px;
	}
}

.topic-list-with-id {
	.title {
    position: relative;
		padding-right: 12rem;
	}

	.item-meta-id {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	a:hover .item-meta-id {
		text-decoration: underline;
	}
}