.topic-item-container {
	position: relative;
	width: 622px;
	height: 546px;

	.topic-body {
		height: 546px;
		padding: 3rem 10px 3rem 3rem;
		background: #fdfff5;
	}

	.inner {
		margin-bottom: 3rem;
	}

	.modal-caller-container {
		position: absolute;
		bottom: 0;
		left: 0;
		cursor: pointer;
	}
}

.topic-modal {
  text-align: center;

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .modal-content {
    background: no-repeat;
    border: none;
    box-shadow: none;
  }

 	.topic-body {
		width: 948px;
	    max-height: 650px;
	    height: auto;
		padding: 5rem 1.2rem 5rem 5rem;
    	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
		overflow-y: auto;
		text-align: left;
    	font-size: 22px;

    	.mCSB_inside > .mCSB_container {
    		margin-right: 4rem;
    	}
	}

	.close {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 38px;
	  height: 36px;
	  background: url('../images/btn-close.png') no-repeat;
	  display: block;
	  opacity: 1;
	}
}