extends layout

block vars
  - var bodyClass = 'home';
  - var headerLogo = true;

block content
  .row.row-no-padding.content-bpk-list-topic
    .col-xs-8.content-left-container
      .primary-image-container
        img(src="../assets/images/m-subuh-large.jpg" alt="Muhammad Subuh Sumohadiwidjojo")
      include ../components/modules/image-panel.html
       
    .col-xs-4.content-right-container
      include ../components/modules/nav.html 

      ul(class="menu-list")
        li(class="menu-item") <a href="">Surat-surat pilihan dari Bapak Muhammad Subuh Sumohadiwdjojo</a>
      
        include ../components/modules/alphabet-menu.html 

      include ../components/modules/return-button.html 