extends layout

block vars
  - var bodyClass = 'home';

block content
  .content-content
    .row.row-no-padding
      .col-xs-8.left-container
        img(src="../assets/images/m-subuh-large.jpg" alt="Muhammad Subuh Sumohadiwidjojo")

      .col-xs-4.body-right-container
        header
          <h1><span>Tentang</span><br>Bapak Muhammad Subuh Sumohadiwidjojo</h1>