extends layout

block vars
  - var bodyClass = 'home';

block content
  .content-disclaimer
    .row
      .col-xs-12.text-center.disclaimer-container
        .disclaimer.copy-base
          header
            h3 Sangkalan

          p Dokumen yang tersedia hanya dapat dibaca oleh Anggota Subud [dan patuh pada hak cipta]. Pengguna diminta untuk tidak memodifikasi, memproduksi kembali, meng-copy, menampilkan, mengambil foto ataupun mendistribusikan seluruh maupun sebagian dari dokumen ini dalam bentuk apapun atau media apapun tanpa persetujuan dari pemegang hak cipta.
          p Sebelumnya, Bapak dan Ibu Rahayu sudah menjelaskan bahwa ceramah-ceramah yang diberikan merupakan penerimaan dan diberikan sesuai dengan kebutuhan dan kapasitas penonton pada waktu itu. Bapak dan Ibu Rahayu juga menjelaskan bahwa ceramah-ceramah dan tulisan-tulisannya merupakan bimbingan, nasihat dan klarifikasi, bukan merupakan peraturan.
          p Surat-surat dari Bapak Muhammad Subuh dan Ibu Rahayu merupakan korespondensi pribadi [dicetak di sini dengan izin dari penanya]. Nasihat dan bimbingan yang diberikan khusus untuk keadaan koresponden.

        .verification-container
          <a href="#" class="btn btn-subud btn-default">Setuju</a>
          <a href="#" class="btn btn-subud btn-danger">Tidak Setuju</a>

  //- section.container
  //-   .row
  //-     .col-xs-8

  //-     .col-xs-8.sidebar-container
  //-       header
  //-         nav
  //-           form(action="")
  //-             input(type="text").search
  //-           button.menu Menu
  //-           a(href="").home Home