extends layout

block vars
  - var bodyClass = 'home';
  - var headerLogo = true;

block content
  .row.row-no-padding.content-ibu-all-topic
    .col-xs-8.content-left-container
      .primary-image-container
        img(src="../assets/images/cover-letter-ibu.jpg" alt="Cover Letter")
       
    .col-xs-4.content-right-container
      include ../components/modules/nav.html 

      include ../components/modules/topic-list-with-id.html 

      include ../components/modules/return-button.html 