extends layout

block vars
  - var bodyClass = 'home';
  - var headerLogo = true;

block content
  .row.row-no-padding.content-bpk-all-topic
    .col-xs-8.content-left-container
      include ../components/modules/topic-item.html 
       
    .col-xs-4.content-right-container
      include ../components/modules/nav.html 

      include ../components/modules/topic-list.html 

      include ../components/modules/return-button.html 