<ul class="topic-list topic-list-with-id">
  <li class="topic-item"><h3>Marriage</h3>
    <ul class="title-list">
      <li class="title"><a href="item-topic.html">Aliter <span class="item-meta-id">RAH023ENG</span></a></li>
      <li class="title"><a href="item-topic.html">Averbum Praepositum Eaque Temporibus <span class="item-meta-id">RAH026ENG</span></a></li>
      <li class="title"><a href="item-topic.html">Necessitatibus Consectetur <span class="item-meta-id">RAH030ENG</span></a></li>
    </ul>
  </li>
</ul>