script(src='../assets/js/vendors/jquery-1.11.0.min.js')
script(src='../assets/js/vendors/bootstrap.min.js')
script(src='../assets/js/vendors/masonry.pkgd.min.js')
script(src='../assets/js/vendors/jquery.mCustomScrollbar.js')

script(src='../assets/js/site.min.js')
script.
  (function($){
    $(window).load(function(){
      $('.gallery-grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 130
      });
      
      $(".custom-scrollbar").mCustomScrollbar({
        theme:"dark-3"
      });

      $(".custom-scrollbar").css("opacity", 1);
    });
  })(jQuery);
