script(src='../assets/js/vendors/jquery-1.11.0.min.js')
script(src='../assets/js/vendors/bootstrap.min.js')
script(src='../assets/js/vendors/masonry.pkgd.min.js')

script(src='../assets/js/site.min.js')
script.
  $('.gallery-grid').masonry({
    // options
    itemSelector: '.grid-item',
    columnWidth: 130
  });
